@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;900&display=swap');
body
{
    margin: 0px;
}

header {
    text-align: center;
    padding: 5px;
    font-weight: normal;
    background-color: #a32222;
    color: white;
    font-family: 'Raleway',sans-serif;
    height: 11vh;
    font-size: 3vh;
    justify-content: center;
    align-items: center;
}

article {
    font-family: 'Raleway', sans-serif;
    font-size: 150%;
    line-height: 200%;
    text-align: center;
    background-color: #404040;
    color: white;
}

article > div {
	padding-top: 50px;
	padding-bottom: 50px;
	padding-left: 10%;
	padding-right: 10%;
}

.onTime {
    text-align: left;
    background-color: #FFD700;
    padding-bottom: 30px;
    padding-top: 20px;
}

.onTime > .lh {
    text-align: left;
    text-align: center;
    font-size: 105%;
    width: 100vw;
    background-color: #D1B000;
    margin-left: -10.5vw;
    margin-top: -20px;
    margin-bottom: 5px;
}

.early {
    text-align: left;
    background-color: green;
    padding-bottom: 30px;
    padding-top: 20px;
}

.early > .lh {
    text-align: left;
    text-align: center;
    font-size: 105%;
    width: 100vw;
    background-color: darkgreen;
    margin-left: -10.5vw;
    margin-top: -20px;
    margin-bottom: 5px;
}

.earlyAll {
    text-align: left;
    background-color: darkolivegreen;
    display: none;
    overflow: hidden;
    padding-bottom: 30px;
    padding-top: 20px;
}

.late {
    text-align: left;
    background-color: red;
    padding-bottom: 30px;
    padding-top: 20px;
}

.late > .lh {
    text-align: left;
    text-align: center;
    font-size: 105%;
    width: 100vw;
    background-color: darkred;
    margin-left: -10.5vw;
    margin-top: -20px;
    margin-bottom: 5px;
}

.lateAll {
    text-align: left;
    background-color: indianred;
    display: none;
    overflow: hidden;
    padding-bottom: 30px;
    padding-top: 20px;
}
.collapsible {
    background-color: dimgrey;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.active, .collapsible:hover {
    background-color: #555;
}

