@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;900&display=swap');

body {
    margin: 0px;
    font-family: 'Raleway',sans-serif;
}

header {
    text-align: center;
    padding: 5px;
    font-weight: normal;
    background-color: #35C1CA;
    color: white;
    font-family: 'Raleway',sans-serif;
    height: 11vh;
    font-size: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow:hidden;
}

.top {
    height: 14vh;
    font-weight: 800;
}

.section {
    font-weight: 600;
    height: 5vh;
    font-size: 2vh;
}

li {
    text-align: left;
    font-size: 97%;
    margin-top: 15px;
    margin-bottom: 15px;
}

article {
    font-family: 'Raleway', sans-serif;
    font-size: 150%;
    line-height: 200%;
    text-align: center;
    background-color: #333133;
    color: white;
}

article > div {
	padding-top: 50px;
	padding-bottom: 50px;
	padding-left: 10%;
	padding-right: 10%;
}

.intro {
    font-family: 'Raleway', sans-serif;
    font-size: 150%;
    line-height: 200%;
    text-align: center;
    background-color: #333133;
    color: white;
}

.onTime {
    text-align: left;
    background-color: #FFD700;
    padding-bottom: 30px;
    padding-top: 20px;
}

#onTimeTitle {
    text-align: left;
    text-align: center;
    font-size: 105%;
    width: 100vw;
    background-color: #D1B000;
    margin-left: -10.5vw;
    margin-top: -20px;
    margin-bottom: 5px;
}

.early {
    text-align: left;
    background-color: green;
    padding-bottom: 30px;
    padding-top: 20px;
}

#earlyTitle {
    text-align: center;
    font-size: 105%;
    width: 100vw;
    background-color: darkgreen;
    margin-left: -10.5vw;
    margin-top: -20px;
    margin-bottom: 5px;
}

.earlyAll {
    text-align: left;
    background-color: darkolivegreen;
    display: none;
    overflow: hidden;
    padding-bottom: 30px;
    padding-top: 20px;
}

.late {
    text-align: left;
    background-color: red;
    padding-bottom: 30px;
    padding-top: 20px;
}

#lateTitle {
    text-align: center;
    font-size: 105%;
    width: 100vw;
    background-color: darkred;
    margin-left: -10.5vw;
    margin-top: -20px;
    margin-bottom: 5px;
}

.lateAll {
    text-align: left;
    background-color: indianred;
    display: none;
    overflow: hidden;
    padding-bottom: 30px;
    padding-top: 20px;
}

#fulfilledTitle {
    text-align: center;
    font-size: 105%;
    width: 100vw;
    background-color: darkgreen;
    margin-left: -10.5vw;
    margin-top: -20px;
    margin-bottom: 5px;
}

#unfulfilledTitle {
    text-align: center;
    font-size: 105%;
    width: 100vw;
    background-color: darkred;
    margin-left: -10.5vw;
    margin-top: -20px;
    margin-bottom: 5px;
}

.collapsible {
    background-color: dimgrey;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    outline: none;
    text-align: center;
    font-size: 150%;
    line-height: 200%;
}

.active, .collapsible:hover {
    background-color: #555;
}

footer {
    padding-top: 15px;
    padding-bottom: 15px;
}

a:link {
    color: white;
    background-color: transparent;
    text-decoration: underline;
}

a:visited {
    color: white;
    background-color: transparent;
    text-decoration: underline;
}

a:hover {
    color: lightgray;
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: grey;
    background-color: transparent;
    text-decoration: underline;
<<<<<<< HEAD
<<<<<<< Updated upstream
=======
=======
>>>>>>> 4e329399ffacf0619533d991311ba02d3bfa5017
}

.wrapper {
    overflow: hidden;
}

.slidingBackground {
    height: 3248px;
    width: 3248px;
    margin-bottom: -2688px;
    animation: slide 20s linear infinite;
}

<<<<<<< HEAD
#slidingRatMonkaS {
=======
#slidingRats {
>>>>>>> 4e329399ffacf0619533d991311ba02d3bfa5017
    background: url("images/RatMonkaS.png") repeat;
    background-color: #333133;
}

<<<<<<< HEAD
#slidingRatChomp {
    background: url("images/RatChomp.png") repeat;
    background-color: #333133;
}

=======
>>>>>>> 4e329399ffacf0619533d991311ba02d3bfa5017
#slidingPlutos {
    background: url("images/JermaPluto.png") repeat;
    background-color: #333133;
}

<<<<<<< HEAD
#slidingSmile {
    background: url("images/JermaSmile.png") repeat;
    background-color: #333133;
}

=======
>>>>>>> 4e329399ffacf0619533d991311ba02d3bfa5017
@keyframes slide {
    0% {
        transform: translate3d(0, 0, 0);
    }

    100% {
        transform: translate3d(-1120px, -1120px, 0)
    }
<<<<<<< HEAD
>>>>>>> Stashed changes
=======
>>>>>>> 4e329399ffacf0619533d991311ba02d3bfa5017
}